{% extends 'layout.html' %}
{% block title %} {{ char }} {% endblock %}
{% block content %}
{#    <div class="container" style="padding: 15px; height: 250px; width: 250px;">#}

        <script src="https://www.amcharts.com/lib/4/core.js"></script>
        <script src="https://www.amcharts.com/lib/4/charts.js"></script>
        <script src="https://www.amcharts.com/lib/4/themes/spiritedaway.js"></script>
        <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

        <script>
            am4core.ready(function() {

            // Themes begin
            am4core.useTheme(am4themes_spiritedaway);
            am4core.useTheme(am4themes_animated);
            // Themes end

            /* Create chart instance */
            var chart = am4core.create("chartdiv", am4charts.RadarChart);

            var attr = ['Força', 'Destreza', 'Constituição', 'Inteligência', 'Sabedoria', 'Carisma', 'Sanidade'];
            var value1 = 500;
            var value2 = 600;

            {#for(var i = 0; i < 12; i++){#}
            {#    let date = new Date();#}
            {#    date.setMonth(i, 1);#}
            {#    value1 -= Math.round((Math.random() < 0.5 ? 1 : -1) * Math.random() * 50);#}
            {#    value2 -= Math.round((Math.random() < 0.5 ? 1 : -1) * Math.random() * 50);#}
            {#    data.push({date:date, value1:value1, value2:value2})#}
            {# } #}

            var data = [];

{#            {% for key, value in char.calcAttributes %}#}
{#                data.push({date: '{{ key }}', value1: '{{ value }}' });#}
{#            {% endfor %}#}


            chart.data = data;

            /* Create axes */
            var categoryAxis = chart.xAxes.push(new am4charts.DateAxis());

            var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
            valueAxis.extraMin = 0.2;
            valueAxis.extraMax = 0.2;
            valueAxis.tooltip.disabled = true;

            /* Create and configure series */
            var series1 = chart.series.push(new am4charts.RadarSeries());
            series1.dataFields.valueY = "value1";
            series1.dataFields.dateX = "date";
            series1.strokeWidth = 3;
            series1.tooltipText = "{valueY}";
            series1.name = "Series 2";
            series1.bullets.create(am4charts.CircleBullet);

            chart.scrollbarX = new am4core.Scrollbar();
            chart.scrollbarY = new am4core.Scrollbar();

            chart.cursor = new am4charts.RadarCursor();

            chart.legend = new am4charts.Legend();


            });
        </script>

        <div id="chartdiv"></div>

        <table class="ui striped table inverted">
            <thead>
                <td colspan="5" style="text-align: center"><strong>My Adventure</strong></td>
            </thead>
            <tr>
                <td><strong>Atributos</strong></td>
                <td><strong>Experiência</strong> {{ char.experience }} Exp</td>
                <td><strong>Nome:</strong> {{ char.name }}</td>
                <td><strong>Raca:</strong> {{ char.race}}</td>
                <td><strong>Classe</strong> {{ char.classe }}</td>
            </tr>
            <tr>
                <td><strong>Força</strong></td>
                <td>{{ char.calcAttributes.strength}}</td>
                <td>{{ char.attributes.strength }}</td>
                <td>{{ char.race.attributes.strength }}</td>
                <td>{{ char.classe.attributes.strength }}</td>

            </tr>
            <tr>
                <td><strong>Destreza</strong></td>
                <td>{{ char.calcAttributes.dexterity }}</td>
                <td>{{ char.attributes.dexterity }}</td>
                <td>{{ char.race.attributes.dexterity }}</td>
                <td>{{ char.classe.attributes.dexterity }}</td>
            </tr>
            <tr>
                <td><strong>Constituição</strong></td>
                <td>{{ char.calcAttributes.constitution }}</td>
                <td>{{ char.attributes.constitution }}</td>
                <td>{{ char.race.attributes.constitution }}</td>
                <td>{{ char.classe.attributes.constitution }}</td>
            </tr>
            <tr>
                <td><strong>Inteligência</strong></td>
                <td>{{ char.calcAttributes.intelligence }}</td>
                <td>{{ char.attributes.intelligence }}</td>
                <td>{{ char.race.attributes.intelligence }}</td>
                <td>{{ char.classe.attributes.intelligence }}</td>
            </tr>
            <tr>
                <td><strong>Sabedoria</strong></td>
                <td>{{ char.calcAttributes.wisdom }}</td>
                <td>{{ char.attributes.wisdom }}</td>
                <td>{{ char.race.attributes.wisdom }}</td>
                <td>{{ char.classe.attributes.wisdom }}</td>
            </tr>
            <tr>
                <td><strong>Carisma</strong></td>
                <td>{{ char.calcAttributes.charisma }}</td>
                <td>{{ char.attributes.charisma }}</td>
                <td>{{ char.race.attributes.charisma }}</td>
                <td>{{ char.classe.attributes.charisma }}</td>
            </tr>
            <tr>
                <td><strong>Sanidade</strong></td>
                <td>{{ char.calcAttributes.sanity }}</td>
                <td>{{ char.attributes.sanity }}</td>
                <td>{{ char.race.attributes.sanity }}</td>
                <td>{{ char.classe.attributes.sanity }}</td>
            </tr>
        </table>
{#    </div>#}
{% endblock %}